body { font-family: Verdana }
#page-viewport {
  width: 300px;
  height: 235px;
  border: 1px solid #999;
  background-color: #efefef;
  overflow: hidden;
  float: left;
}
.page {
  width: 250px;
  height: 187px;
  background-color: white;
  border: 1px solid #ccc;
  margin: 10px 25px;
}
.page:first-child {margin-top: 20px}
.page:last-child {margin-bottom: 20px}
.active {border-width: 2px; border-color: #bbb;}

.product {
  width: 100px;
  height: 75px;
  float: left;
  border: 1px solid #999;
  font-size: 8pt;
  color: #999;
}
.product.empty {
  border: 1px dashed #ddd;
  color: #bbb;
}
.product.empty .delete {
  margin-left: 52px;
  cursor: pointer;
}
.product.empty .delete:hover {
  color: #777;
}


#bullet-container {
  height: 225px;
  float: left;
  margin-left: 10px;
}
.bullet {
  border: solid 1px #999;
  background-color: #efefef;
  margin: 7px auto;
  width: 15px;
  height: 15px;
  margin-bottom: 5px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  cursor: pointer;
}
.bullet:hover {
  border: solid 1px #ccc;
  background-color: #aaa;
}
.selected {
  border-color: #3399FF;
  background-color: #6699FF;
}
.hide {
  display: none;
}
#bullet-container > .active {background-color: #aaa; border-color: #ccc; cursor: pointer;}
#bullet-container > .sliding {border: 1px dashed orange; background-color: lightyellow;}

#layout-toolbar {
  height: 225px;
  float: left;
  margin-left: 30px;
}
.layout-icon {
  width: 50px;
  height: 50px;
  font-size: 8px;
  color: #aaa;
  margin: 10px 0px 0px 10px;
  float: left;
  cursor: pointer;
  border: 1px solid orange;
  margin-bottom: 5px;
}
#toolbar-space {
  cursor: pointer;
  margin: 0px 0px 10px 280px;
  border: 1px dashed #888;
  width: 15px;
  height: 15px;
}
div#app {
  margin: 0px 0px 0px 250px;
}
.category {
  margin: 150px 0px 0px -200px;
}


/* Template related */
[class^='ad-'] {
  border: 1px solid red;
  margin: 10px 0px 0px 15px;
}
[class^='prod-container-'] {
  margin: 10px 0px 0px 15px;
}

/* Default layout styling */
.prod-container-default {
  margin: 0px;
}
.prod-container-default .product {
  margin: 10px 0px 0px 15px;
}

/* Hero Top/Bottom layout styling */
.ad-hero-top, .ad-hero-bottom {
  width: 217px;
  height: 75px;
}
.prod-container-hero-top, .prod-container-hero-bottom {
  width: 217px;
  height: 75px;
}
.prod-container-hero-top > .product, .prod-container-hero-bottom > .product {
  margin: 0px 13px 0px 0px;
}
.prod-container-hero-top > .product:last-child, .prod-container-hero-bottom > .product:last-child {
  margin: 0px;
}

/* Hero Right/Left layout styling */
.ad-hero-right, .ad-hero-left {
  float: left;
  width: 100px;
  height: 161px;
}
.prod-container-hero-right, .prod-container-hero-left {
  float: left;
  width: 100px;
  height: 161px;
}
.prod-container-hero-right > .product, .prod-container-hero-left > .product {
  margin: 0px 0px 10px 0px;
}
